.group{
    &__development{
        &--title{
            margin: 10px 0;
            text-align: center;
            font-size: $s20;
            line-height: $s22;
            @include mobile-large {
                font-size: $s18;
                line-height: $s20;
            }
        }
        &--container{
            // gap: 10px;
        }
        &--name-developer{
            text-align: center;
            margin: 10px 0;
            @include mobile-large {
                font-size: $s16;
                line-height: $s18;
            }
            &_description{
                text-align: center;
                margin: 10px 0;
                font-size: $s18;
                line-height: $s20;
                font-weight: $w4;
                color: $black;
                @include mobile-large {
                    font-size: $s16;
                    line-height: $s18;
                }
            }
        }
        &--block{
            margin: 10px;
            &-image{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                transition: .5s all;
                &:hover{
                    transform: scale(1.03);
                }

                @include mobile-large {
                    width: 180px;
                    height: 180px;
                }
            }
            &-networks{
                display: flex;
                justify-content: center;
                gap: 10px;
                margin: 10px 0;
            }
            &-link{

            }
        }
    }
}