.faq{
    display: flex;
    gap: 15px;

    @include mobile-large{
        flex-direction: column;
        gap: 0;
    }
    &__container {
        width: 100%;
        max-width: 600px;
        margin: 10px auto;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;

        &--image{
            &-content{
                border-radius: 10px;
            }
        }

        &--question {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            cursor: pointer;
            background: $gray;
            color: $black;
            font-size: $s16;
            transition: .5s;

            &:hover {
                background: #999;
            }

            svg {
                transition: transform 0.3s;
            }
        }

        &--answer {
            max-height: 0;
            overflow: hidden;
            transition: max-height .5s ease;
            background-color: $gray;
            color: $white;
            padding: 0 15px; 
            &-text {
                font-size: $s14;
                color: $black;
                line-height: 1.5;
                padding: 15px 0; 
            }
        }
    }
}
