$body-font: "Roboto";

//FONT-SIZE
$s-12: 12px;
$s-14: 14px;
$s-16: 16px;
$s-18: 18px;
$s-20: 20px;
$s-22: 22px;
$s-24: 24px;
$s-26: 26px;

//FONT-WEIGHT
$w-3: 300;
$w-4: 400;
$w-5: 500;
$w-6: 600;
$w-7: 700;