.slick-arrow.slick-next,
.slick-arrow.slick-prev,
.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:focus,
.slick-arrow.slick-prev:focus {
    background: no-repeat center 10px/8px url('https://lucaslm1.netlify.app/src/assets/images/icone-seta.png');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: 10px 15px;
    width: 33px;
    height: 33px;
    position: absolute;
    z-index: 2;
    top: 40%;
    transition: all .2s ease-out;
    background-color: #76cafa;
    border-radius: 30px;
    transition: .5s all;

    &:hover{
        background-color: #6dbce9a2;
    }

    @include mobile-large{
        top: 35%;
    }
}

.slick{
    &-prev,
    &-next{
        &:before {
            content: '' !important;
        }
    }

    &-prev{
        @include mobile-large{
            left: -5px !important;
        }
    }

    &-next{
        @include mobile-large{
            right: -5px !important;
        }
    }
}

.slick-arrow.slick-prev {
    transform: translateY(-50%) rotate(180deg);
    right: 25px;
}

.slick-dots {
    bottom: -55px !important;
    @include mobile-large{
        bottom: -155px !important;
    }

    li {
        .slick-active {
            button {
                &::before {
                    opacity: .75;
                    color: $white  !important;
                }
            }
        }

        button {
            &::before {
                font-family: slick;
                font-size: 14px !important;
                color: $gray  !important;
                transition: .5s;
            }
        }
    }
}

.slick-dotted.slick-slider {
    height: 300px;
}